.dropdownList {
  padding: 0;
  margin: 0;
  text-align: right;
  list-style: none;
}

.dropdownList li {
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
}

.dropdownList a {
  display: block;
  text-align: right;
  white-space: nowrap;
  text-decoration: none;
}
