.card {
  width:100%;
  height: auto;
  margin-bottom: 6px;
}

.card > div {
  position: relative;
  padding-bottom: 56.25%;
}

.textarea {
  display: block;
  width: 100%;
  padding: 0.3rem 0;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(3px) brightness(0.8);
}

.title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.3rem 0.5rem;
}

.categories span {
  padding: 0 0.5rem;
}

.thumbnail {
  width: 100%;
  position: absolute;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

