.card {
  width: clamp(50%, calc((640px - 100%) * 640), 100%);
  height: auto;
  margin-bottom: 6px;
}

.card > div {
  position: relative;
  padding-bottom: 56.25%;
}

.textarea {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 0.3rem 0;
  color: var(--content-card-textarea-color);
  backdrop-filter: blur(3px) brightness(0.8);
}

.title {
  display: block;
  width: 100%;
  padding: 0.3rem 0.5rem;
  margin: 0;
}

.categories span {
  padding: 0 0.5rem;
}

.thumbnail {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
