.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.copyright {
  text-align: center;
}

.contact h3 {
  text-align: center;
}

.contact ul {
  padding: 0;
  text-align: center;
}

.contact li {
  display: inline-block;
  padding: 0 0.5rem;
  list-style: none;
}

.contact a {
  position: relative;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--main-color);
  border-radius: 100%;
}
