.headerContainer {
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color-alpha);
  z-index: 10000;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  backdrop-filter: blur(3px);
  text-shadow:
    1px 1px 0px var(--main-bg-color),
    -1px -1px 0px var(--main-bg-color),
    -1px 1px 0px var(--main-bg-color),
    1px -1px 0px var(--main-bg-color),
    1px 1px 0px var(--main-bg-color),
    0px -1px 0px var(--main-bg-color),
    0px 1px 0px var(--main-bg-color),
    1px 0px 0px var(--main-bg-color),
    -1px 0px 0px var(--main-bg-color);
}

.title {
  margin: 0 1rem;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0 1rem;
  list-style: none;
}

.menu > li {
  padding-right: 1rem;
  position: relative;
}

.menu > li:last-child {
  padding-right: 0;
}

.menuItem {
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dropdownContainer {
  position: absolute;
  top: 100%;
  right: -1rem;
  background-color: var(--main-bg-color-alpha);
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0s linear 0.2s;
  pointer-events: none;
}

.menuItem:hover .dropdownContainer {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
  pointer-events: auto;
}
