.headerContainer {
  position: sticky;
  top: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 10000;
  margin: 0;
  backdrop-filter: blur(5px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.title {
  margin: 0 1rem;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0 1rem;
  list-style: none;
}

.menu li {
  padding-right: 1rem;
}

.menu li:last-child {
  padding-right: 0;
}
