.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  z-index: 10000;
}

.title {
  margin: 0 1rem;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0 1rem;
  list-style: none;
}

.menu li {
  padding-right: 1rem;
}

.menu li:last-child {
  padding-right: 0;
}
