.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.pagination > li {
  margin: 0 4px;
}

.pagination .btn {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border: solid 1px var(--main-color);
  border-radius: 50%;
}

.pagination .btn:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);
}

.pagination .current {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--active-color);
  text-align: center;
  background-color: var(--active-bg-color);
  border: solid 1px var(--active-border-color);
  border-radius: 50%;
}

.pagination .dots {
  position: relative;
  width: 1rem;
  height: 2.5rem;
}

.pagination .btn > span,
.pagination .dots > span,
.pagination .current > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
