.tocWrapper {
  height: 100% !important;
}

.tocArea {
  position: sticky;
  top: 100px;
}

.tocContent {
  margin-bottom: 2rem;
}

.tocContent h3 {
  text-align: center;
}

.tocContent ul {
  width: max-content;
  max-width: calc(100% - 20px);
  padding: 0;
  margin: auto;
  list-style: none;
}

.tocContent li {
  line-height: 22px;
}

.h2 {
  margin: 0.8rem 0 0.2rem;
  font-size: 1.2rem;
  font-weight: 800;
}
.h3 {
  padding-left: 0.5rem;
  margin: 0.4rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}
