.categoryTitle {
  position: relative;
  padding: 0 2.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.categoryTitle::before {
  position: absolute;
  top: -40px;
  right: 18px;
  display: block;
  width: min-content;
  font-size: 6rem;
  content: "Blog";
  opacity: 0.1;
  transform: rotate(-20deg);
}

.newContents {
  display: flex;
  flex-wrap: wrap;
}

.newContents > section {
  width: clamp(50%, calc((640px - 100%) * 640), 100%);
}
