.mainarea {
  --toc-width: 300px;
  --toc-wrap-width: 800;
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: clamp(calc(100% - var(--toc-width)), calc((800px - 100%) * 800), 100%);
  padding: 0 0.5rem;
}

.toc {
  width: clamp(var(--toc-width), calc((800px - 100%) * 800), 100%);
}

.tocWrapper {
  height: 100% !important;
}

.tocArea {
  position: sticky;
  top: 100px;
}

.content img {
  width: 100%;
  height: auto;
}

.content a {
  color: var(--link-text-color) !important;
  overflow-wrap: break-word;
  transition: none;
}

.content a:hover {
  color: var(--link-hover-text-color) !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px var(--table-border-color);
}

.content table th {
  background-color: var(--table-bg-color);
}

.content table th,
.content table td {
  padding: 0.2rem 0.5rem;
  border: solid 1px var(--table-border-color);
}
