/* .homeContainer {
  margin-top: -3.5rem;
} */

.topAreaWrapper {
  position: relative;
  height: 100vh;
  margin-top: -3.5rem;
}

.topArea {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
}
.topAreaBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.topAreaContent {
  height: 100vh;
  padding-top: 3.5rem;
}

.newContents {
  display: flex;
  flex-wrap: wrap;
}

.newContents > section {
  width: 100%;
}

.newContentsMore {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (horizontal-viewport-segments: 2) {
  .duoNone {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .newContents > section {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .newContents > section {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .newContents > section {
    width: 50%;
  }
}
