@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;400;500;700;800;900&display=swap");

:root {
  --main-color: #464646;
  --main-bg-color: #ffffff;
  --main-bg-color-alpha: rgba(255, 255, 255, 0.2);
  --hover-color: #ffffff;
  --hover-bg-color: #464646;
  --primary-color: #ffccff;
  --primary-bg-color: #ffccff;
  --active-color: #464646;
  --active-bg-color: #ffccff;
  --active-border-color: #ffccff;
  --link-text-color: #ff77ff;
  --link-hover-text-color: #ff44ff;
  --table-border-color: #ff77ff;
  --table-bg-color: rgba(255, 204, 255, 0.5);
  --content-card-textarea-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #ffffff;
    --main-bg-color: #464646;
    --main-bg-color-alpha: rgba(70, 70, 70, 0.2);
    --hover-color: #464646;
    --hover-bg-color: #ffffff;
    --primary-color: #ffccff;
    --primary-bg-color: #ffccff;
    --active-color: #464646;
    --active-bg-color: #ffccff;
    --link-text-color: #ffccff;
    --link-hover-text-color: #ff77ff;
    --table-border-color: #ffccff;
    --table-bg-color: rgba(255, 204, 255, 0.3);
    --content-card-textarea-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "M PLUS 1p", sans-serif;
  color: var(--main-color);
  background: var(--main-bg-color);
}

body {
  overflow-x: clip;
  overflow-y: auto;
}

.font-mplus {
  font-family:
    "M PLUS 1p", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.surface-duo-right {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: var(--primary-color);
}

a.btn {
  transition: all 0.3s;
}

a.btn:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.content {
  z-index: 1;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (horizontal-viewport-segments: 2) {
  body {
    display: flex;
    height: 100vh;
  }
  .surface-duo-left {
    flex: 0 0 env(viewport-segment-right 0 0);
    margin-inline-end: calc(
      env(viewport-segment-left 1 0) -
      env(viewport-segment-right 0 0)
    );
    overflow-y: scroll;
  }

  .surface-duo-right {
    position: relative;
    display: block;
    flex: 1;
    margin: 0;
    overflow: hidden;
  }
  .surface-duo-right > #duo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #duo > canvas {
    position: static !important;
    width: 100%;
    height: 100%;
  }

  .surface-duo-right > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.docs-story::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  content: "";
  background-color: var(--main-bg-color);
  opacity: 0.8;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
