:root {
  --main-color: #464646;
  --main-bg-color: #ffffff;
  --hover-color: #ffffff;
  --hover-bg-color: #464646;
  --primary-color: #ffccff;
  --primary-bg-color: #ffccff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #ffffff;
    --main-bg-color: #464646;
    --hover-color: #464646;
    --hover-bg-color: #ffffff;
    --primary-color: #ffccff;
    --primary-bg-color: #ffccff;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--main-color);
  background: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: var(--primary-color);
}

a.btn {
  transition: all 0.3s;
}

a.btn:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);
}
