.title {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.title > div {
  z-index: 1;
}

.title::after {
  position: absolute;
  top: -40px;
  right: 18px;
  z-index: 0;
  display: block;
  width: min-content;
  font-size: 6rem;
  user-select: none;
  opacity: 0.1;
  transform: rotate(-20deg);
}

.blog::after {
  content: "Blog";
}
