.outlinebtn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 3rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  border: 2px solid var(--main-color);
  border-radius: 1.5rem;
}

.outlinebtn:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);
}
